<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <title>Basic Mongoose</title>
</head>
<body>
    <h5>Choose an answer for each of the questions and submit the test once done.</h5>
    <h5>Good Luck!</h5>
    <br>
    <br>

    
    <!-- <form action='/add_quote' method='post'>
        <p>Your name:</p><input type='text' name='name'>
        <p>Your quote:</p><input type='text' name='quote'>
        <br>
        <br>
        <input type='submit' value='Add My Quote'>
    </form>
    <br>
    <a href="/show_quotes">Skip to quotes</a> -->
</body>
</html>